<h1>Login here</h1>

<% if session[:user_openid_url] -%>
	You are logged in as <%=h session[:user_openid_url] %>.<br/>
	<% if @user -%>
		This id belongs to <%= @user.login %>.<br/>
	<% else -%>
		This id does not belong to any user.<br/>
	<% end -%>
<% else -%>
	You are not logged in.<br/>
	<%= link_to 'New User', new_user_path %>
<% end -%>

<%= render :partial => 'login_form' %>
